.header,.footer{
    background-color: #1F2937; 
}
.header-div1{
    margin:0 90px;
    display:flex;
    justify-content:space-around;  
}
.logo{
    align-self: center;
    color:#F9FAF8;
    font-size:24px;
    font-weight: bold;
}
ul{
   list-style-type: none;
   display:flex;
   gap:1.5rem;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size:18px;
}
.header-div2{
    margin:0 80px;
    margin-top:80px;
    display:flex;
    justify-content:space-around; 
    padding-bottom:100px;
}
.inner-div1{
    color:#F9FAF8;
    font-size:20px;
    width:30%;
}
.inner-div1 h1{
    color:#F9FAF8;
    font-weight:bolder;
    font-size: 48px;
}
.inner-div2{
    margin-top:20px;
    width:35%;
    background-color: grey;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#e5e7eb;
}
/* second box*/
.div1{
    display:flex;
    flex-direction:column;
    margin:0px 200px;
}
.div1 h2{
    font-size: 36px;
    font-weight:bolder;
    align-self:center;
    padding:20px 0px;
}
.inner-dd{
    display:flex;
    gap:45px;
    align-self:center;
}
.inner-d{
    display:flex;
    flex-direction: column;
    width:180px;
    flex-wrap: wrap;
    color:#404142;
    font-size:20px;
}
.image{
    width:180px;
    height:180px;
    border:#3882f6 solid 4px;
    border-radius:8px;

}
/*third box*/
.div2{
    background-color: #e5e7eb;
    padding:100px 500px;
    color:#1f2937;
    font-size: 34px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.div2 p{
    align-self:flex-end;
    font-weight:bold;
    padding:0;
    margin:0;

}
/*fourth box*/
.div3,.div3-inner,.footer{
    display:flex;
    justify-content:center;
    align-items: center;
}
.div3{
    height:350px;
    font-size:20px;
    color:#F9FAF8;
}
.text{
    padding:0px 100px;
}
#para{
    font-weight:bold;
    font-size: 24px;
    padding:0;
    margin:0;
}
.div3-inner{
    background-color: #3882f6;
    border-radius: 8px;
    padding:50px 80px;
    gap:150px;
}

button{
    background-color:#3882F6;
    padding:4px 18px;
    background-color:#3882F6;
    font-weight: bold;
    font-size:18px;
    color:#F9FAF8;
    border-radius: 5px;
    border-color: #F9FAF8;
    box-shadow: none;
}
#button{
    border:0; 
}
.div3 p{
   margin:0px;
}
/*box5*/
.footer{
    height:100px;
    color:#F9FAF8;
    font-size: 20px;
}